*{
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(77, 25, 166);
    background-image: linear-gradient(to bottom,rgb(77, 25, 166),rgb(161, 149, 182));
    color: white;
    font-size: 250%;
    width: 100%;
    text-align: center;
}

main{
    display: grid;
    background-color: rgb(65, 11, 158);
    background-image: linear-gradient(to bottom right,rgb(103, 73, 154),rgb(157, 127, 208));
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

.carro {
    display: grid;
    width: 55vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(161, 149, 182);
    background-image: linear-gradient(to bottom right,rgb(204, 181, 243),rgb(255, 255, 255));
}
img{
    width: 55vh;
    height: 28vh
}
footer {
    background-color:rgb(77, 25, 166);
    background-image: linear-gradient(to top right,rgb(77, 25, 166),rgb(161, 149, 182));
    color: white;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    text-align: left;
    line-height: 40px
}
.site-footer{
    color: black;
    font-size: 110%;
}